/* _content/QL_NhaHang/Shared/MainLayout.razor.rz.scp.css */
/* _content/QL_NhaHang/Shared/NavMenu.razor.rz.scp.css */
.navbar-brand[b-q93vccjef2] {
    font-size: 24px;
    font-weight: bold;
}

.nav-link[b-q93vccjef2] {
    font-size: 18px;
    font-weight: bold;
}

.btn-primary[b-q93vccjef2] {
    font-size: 18px;
    font-weight: bold;
}

.btn-secondary[b-q93vccjef2] {
    font-size: 18px;
    font-weight: bold;
}
