.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
}

.btn-primary {
    font-size: 18px;
    font-weight: bold;
}

.btn-secondary {
    font-size: 18px;
    font-weight: bold;
}
